.loginmain {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  .login {
    width: 350px;
    padding: 30px;
    background: #f0f0f0;
    border-radius: 5px;
    .name {
      font-size: 32px;
    }
  }
}
