<div class="ui container loginmain">
    <div class="login">
        <p class="name">JSCLI.ORG</p>
        <form class="ui form">
            <div class="field">
                <label>用户名</label>
                <input type="text" name="first-name" placeholder="Username">
            </div>
            <div class="field">
                <label>密码</label>
                <input type="text" name="last-name" placeholder="Password">
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label>记住密码</label>
                </div>
            </div>
            <button class="fluid ui button blue" type="submit">登录</button>
        </form>
    </div>
</div>