$menu_height: 64px;
.menu {
  width: 100%;
  background: #2185d0;
  height: $menu_height;
  .nav_menu {
    height: $menu_height;
    display: flex;
    align-items: center;
    .left {
      flex: 1;
      display: flex;
      .title {
        padding: 11px 20px;
        font-size: 28px;
        color: #fff;
      }
      .nav {
        flex: 1;
        display: flex;
        align-items: center;
        .item {
          color: #fff;
          font-size: 16px;
          padding: 7px 18px;
          margin: 0 5px;
          border: 2px solid #2185d0;
          transition: all 0.3s;
          &.active {
            border: 2px solid #fff;
            border-radius: 4px;
          }
          &:hover {
            border: 2px solid #fff;
            border-radius: 4px;
          }
        }
      }
    }
    .right {
      display: flex;
      .item {
        margin-left: 10px;
      }
    }
  }
}
