<div class="menu">
  <div class="ui container nav_menu">
    <div class="left">
      <div class="title">jscli.org</div>
      <div class="nav">
        <a class="item" routerLink="/home" routerLinkActive="active">首页</a>
        <a class="item" routerLink="/study" routerLinkActive="active">学习</a>
        <a class="item" routerLink="/post-list" routerLinkActive="active">文章</a>
        <a class="item" routerLink="/about" routerLinkActive="active">关于</a>
      </div>
    </div>
    <div class="right">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="搜索...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="item inverted blue basic button ui" routerLink="/login">登录</a>
    </div>
  </div>
</div>